{
  "log": {
    "_recordingName": "steps",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "b8bb18c1f35f93ccbc6c4a34f271f6e6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "after_cursor",
              "value": ""
            }
          ],
          "url": "https://api.us.onelogin.com/api/1/groups?after_cursor="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 243,
            "text": "{\"status\":{\"error\":false,\"code\":200,\"type\":\"success\",\"message\":\"Success\"},\"pagination\":{\"before_cursor\":null,\"after_cursor\":null,\"previous_link\":null,\"next_link\":null},\"data\":[{\"id\":477661,\"name\":\"Getting the Band Together\",\"reference\":null}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "link",
              "value": ""
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4971"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "2596"
            },
            {
              "name": "etag",
              "value": "W/\"abaa5a69a0b5f14dd3473e5bfe3036bd\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 216,
      },
      {
        "_id": "bdadb1fe60b28fb06aa59365066b1ea6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "na[...]
