{
  "log": {
    "_recordingName": "validateInvocation:invalidClientId",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "d01d31ad8fbc5cc81a593dfb65541b9e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.us.onelogin.com/auth/oauth2/v2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 93,
            "text": "{\"access_token\":\"[REDACTED]\",\"created_at\":1646068258749,\"expires_in\":9999,\"refresh_token\":\"[REDACTED]\",\"token_type\":\"Bearer\",\"account_id\":999999}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "401 Unauthorized"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 232,
      },
      {
        "_id": "d01d31ad8fbc5cc81a593dfb65541b9e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "applicat[...]
