{
  "log": {
    "_recordingName": "fetchUsers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "e53ea2f9cd3a90ce53a41e58fd54104e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "after_cursor",
              "value": ""
            }
          ],
          "url": "https://api.us.onelogin.com/api/1/users?after_cursor="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1037,
            "text": "{\"status\":{\"error\":false,\"code\":200,\"type\":\"success\",\"message\":\"Success\"},\"pagination\":{\"before_cursor\":null,\"after_cursor\":null,\"previous_link\":null,\"next_link\":null},\"data\":[{\"activated_at\":\"2021-04-28T21:10:57.207Z\",\"created_at\":\"2021-04-28T21:10:57.210Z\",\"email\":\"exampleq@jupiterone.com\",\"username\":\"\",\"firstname\":\"ExampleQ\",\"group_id\":null,\"id\":132422371,\"invalid_login_attempts\":0,\"invitation_sent_at\":\"2021-04-28T21:10:57.187Z\",\"last_login\":\"2021-05-11T12:41:23.269Z\",\"lastname\":\"Person\",\"locked_until\":null,\"comment\":\"\",\"openid_name\":\"exampleq.person\",\"locale_code\":null,\"preferred_locale_code\":null,\"password_changed_at\":\"2021-04-28T21:11:23.448Z\",\"phone\":\"\",\"status\":1,\"updated_at\":\"2021-05-11T12:43:19.134Z\",\"distinguished_name\":null,\"external_id\":null,\"directory_id\":null,\"member_of\":null,\"samaccountname\":null,\"userprincipalname\":null,\"manager_ad_id\":null,\"manager_user_id\":null,\"role_id\":null,\"company\":\"\",\"department\":\"\",\"title\":\"\",\"state\":1,\"trusted_idp_id\":null,\"custom_attributes\":{\"customUserField\":\"custom-user-value\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "link",
              "value": ""
            },
            {
              "name": "x-ratelimit-limit",
              "value": "5000"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "4996"
            },
            {
              "name": "x-ratelimit-reset",
              "value": "3293"
            },
            {
              "name": "etag",
              "value": "W/\"721219e459de40551c6d98a13e9b2270\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 433,
      },
      {
        "_id": "d01d31ad8fbc5cc81a593dfb65541b9e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"grant_type\":\"client_credentials\"}"
          },
          "queryString": [],
          "url": "https://api.us.onelogin.com/auth/oauth2/v2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 267,
            "text": "{\"access_token\":\"45acd1b01674f5998077e92298fc3dc55de446f13e5f1051c9333da077a09948\",\"created_at\":\"2021-07-29T16:00:51.035Z\",\"expires_in\":36000,\"refresh_token\":\"297941eae1981e3664b95f241df85038efd6ad832cf4990ec5913020bbf9fcbd\",\"token_type\":\"bearer\",\"account_id\":189185}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "etag",
              "value": "W/\"9e9d6a1de69571d3443e20bc1ef7b573\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 352,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
