{
  "log": {
    "_recordingName": "badCredens",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "e53ea2f9cd3a90ce53a41e58fd54104e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "after_cursor",
              "value": ""
            }
          ],
          "url": "https://api.us.onelogin.com/api/1/users?after_cursor="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 93,
            "text": "{\"status\":{\"error\":true,\"code\":401,\"type\":\"Unauthorized\",\"message\":\"Authentication Failure\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "401 Unauthorized"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 187,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
