{
  "log": {
    "_recordingName": "badCredens",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "e53ea2f9cd3a90ce53a41e58fd54104e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "after_cursor",
              "value": ""
            }
          ],
          "url": "https://api.us.onelogin.com/api/1/users?after_cursor="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 93,
            "text": "{\"status\":{\"error\":true,\"code\":401,\"type\":\"Unauthorized\",\"message\":\"Authentication Failure\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "401 Unauthorized"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 351,
      },
      {
        "_id": "d01d31ad8fbc5cc81a593dfb65541b9e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.us.onelogin.com/auth/oauth2/v2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 267,
            "text": "{\"access_token\":\"[REDACTED]\",\"created_at\":1646085879895,\"expires_in\":9999,\"refresh_token\":\"[REDACTED]\",\"token_type\":\"Bearer\",\"account_id\":999999}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"0c072afe0d34744c4ac81f6889f637b3\""
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 291,
      },
      {
        "_id": "e53ea2f9cd3a90ce53a41e58fd54104e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "after_cursor",
              "value": ""
            }
          ],
          "url": "https://api.us.onelogin.com/api/1/users?after_cursor="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 5430,
            "text": "{\"status\":{\"error\":false,\"code\":200,\"type\":\"success\",\"message\":\"Success\"},\"pagination\":{\"before_cursor\":null,\"after_cursor\":null,\"previous_link\":null,\"next_link\":null},\"data\":[{\"activated_at\":\"2021-04-28T21:10:57.207Z\",\"created_at\":\"2021-04-28T21:10:57.210Z\",\"email\":\"exampleperson@jupiterone.com\",\"username\":\"\",\"firstname\":\"Example\",\"group_id\":null,\"id\":132422371,\"invalid_login_attempts\":0,\"invitation_sent_at\":\"2021-04-28T21:10:57.187Z\",\"last_login\":\"2021-09-14T16:13:45.947Z\",\"lastname\":\"Person\",\"locked_until\":null,\"comment\":\"\",\"openid_name\":\"example.person\",\"locale_code\":null,\"preferred_locale_code\":null,\"password_changed_at\":\"2021-09-14T16:13:45.482Z\",\"phone\":\"\",\"status\":1,\"updated_at\":\"2021-09-14T16:13:46.282Z\",\"distinguished_name\":null,\"external_id\":null,\"directory_id\":null,\"member_of\":null,\"samaccountname\":null,\"userprincipalname\":null,\"manager_ad_id\":null,\"manager_user_id\":null,\"role_id\":[439868],\"company\":\"\",\"department\":\"\",\"title\":\"\",\"state\":1,\"trusted_idp_id\":null,\"custom_attributes\":{\"customUserField\":\"custom-user-value\"}},{\"activated_at\":\"2021-05-11T13:58:57.421Z\",\"created_at\":\"2021-05-11T13:58:57.430Z\",\"email\":\"exampleperson@jupiterone.com\",\"username\":\"\",\"firstname\":\"Example\",\"group_id\":477661,\"id\":133771160,\"invalid_login_attempts\":0,\"invitation_sent_at\":null,\"last_login\":null,\"lastname\":\"Person\",\"locked_until\":null,\"comment\":\"\",\"openid_name\":\"example.person\",\"locale_code\":null,\"preferred_locale_code\":null,\"password_changed_at\":null,\"pho[...]
