{
  "log": {
    "_recordingName": "badCredens",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "e53ea2f9cd3a90ce53a41e58fd54104e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "after_cursor",
              "value": ""
            }
          ],
          "url": "https://api.us.onelogin.com/api/1/users?after_cursor="
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 93,
            "text": "{\"status\":{\"error\":true,\"code\":401,\"type\":\"Unauthorized\",\"message\":\"Authentication Failure\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "401 Unauthorized"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 348,
      },
      {
        "_id": "d01d31ad8fbc5cc81a593dfb65541b9e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://api.us.onelogin.com/auth/oauth2/v2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 267,
            "text": "{\"access_token\":\"[REDACTED]\",\"created_at\":1646078793535,\"expires_in\":9999,\"refresh_token\":\"[REDACTED]\",\"token_type\":\"Bearer\",\"account_id\":999999}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"98c73cf4e2817b6ece2fe4cad4caec8d\""
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 284,
    [...]
