{
  "log": {
    "_recordingName": "validateInvocation:success",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "d01d31ad8fbc5cc81a593dfb65541b9e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"grant_type\":\"client_credentials\"}"
          },
          "queryString": [],
          "url": "https://api.us.onelogin.com/auth/oauth2/v2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 267,
            "text": "{\"access_token\":\"87c15c14f06eb18c7445bde3fdd1b9f3efb09c65de1821a39ab8533a45c4a737\",\"created_at\":\"2021-08-05T02:57:36.136Z\",\"expires_in\":36000,\"refresh_token\":\"75665082dc57a7705f5798ff3f4a6950767d4d5c7fba405004a3bab464be9e8d\",\"token_type\":\"bearer\",\"account_id\":189185}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "etag",
              "value": "W/\"4955cfea4e39dbb5d937427e644000a9\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 367,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
