{
  "log": {
    "_recordingName": "validateInvocation:success",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "c657ef450aaa84fd701fe738f8fe8670",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"grant_type\":\"client_credentials\"}"
          },
          "queryString": [],
          "url": "https://api.us.onelogin.com/auth/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 351,
            "text": "{\"status\":{\"error\":false,\"code\":200,\"type\":\"success\",\"message\":\"Success\"},\"data\":[{\"access_token\":\"40697b5bc442e26161d1a94db5c82c61fa3e7a3e1f028d680123bcdbccfd1ff2\",\"created_at\":\"2021-08-02T21:57:00.594Z\",\"expires_in\":36000,\"refresh_token\":\"f0b244dc294ae10d4b73277e1f802faeb052568aa070da1fb2fd836b6a44905d\",\"token_type\":\"bearer\",\"account_id\":189185}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "etag",
              "value": "W/\"9c267d99f2c09750c676615a7a394262\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 562,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
