{
  "log": {
    "_recordingName": "validateInvocation:success:providedApiHostname",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "d01d31ad8fbc5cc81a593dfb65541b9e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"grant_type\":\"client_credentials\"}"
          },
          "queryString": [],
          "url": "https://api.us.onelogin.com/auth/oauth2/v2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 267,
            "text": "{\"access_token\":\"c5164fe5b294768802e1d9e8b8922f391b7d1668f0932be3ac91d7457de043b1\",\"created_at\":\"2021-08-19T14:18:30.261Z\",\"expires_in\":36000,\"refresh_token\":\"e3edfa1e7a56e7664e0799a57691637051db0ddce916420c3fcfeac89a53c31c\",\"token_type\":\"bearer\",\"account_id\":189185}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "etag",
              "value": "W/\"0d634e9017576087a4eb7e2e548a3b0f\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 222,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
