{
  "log": {
    "_recordingName": "validateInvocation:success:providedApiHostname",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "c657ef450aaa84fd701fe738f8fe8670",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"grant_type\":\"client_credentials\"}"
          },
          "queryString": [],
          "url": "https://api.us.onelogin.com/auth/oauth2/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 351,
            "text": "{\"status\":{\"error\":false,\"code\":200,\"type\":\"success\",\"message\":\"Success\"},\"data\":[{\"access_token\":\"d95965d98378ed391339fd194243612d643aa39d5aa88187a0d68fcd5a891ec4\",\"created_at\":\"2021-08-05T21:23:23.836Z\",\"expires_in\":36000,\"refresh_token\":\"b846caf092c8b414de0b312a19b5aab6b0ca905fdf9b9f2cc55def4d0060a8da\",\"token_type\":\"bearer\",\"account_id\":189185}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "etag",
              "value": "W/\"901639728448a78c2e53df1952adac0b\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 557,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
